body {
    background: #333;
    color: #000;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}

header {
  background:#333;
  position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
  padding: 25px 20px;
}

h1 {
  float: left;
  color: #fff;
  padding-left: 30px;
  margin-bottom: 0px;
}

h2 {
  margin: 0;
  padding: 10px 0;
}

section {
  margin: 0px;
  overflow: auto;
  width: 100%;
}


#cougar {
    background: #FFD5AE;
    padding-top: 160px;
    padding-bottom: 50px;
}

#lion {
    background: #B26219;
    padding-top: 160px;
    padding-bottom: 50px;
}

#tiger {
    background: #FFBD82;
    padding-top: 160px;
    padding-bottom: 50px;
}

div {
    float: left;
    width: 30%;
    clear: both;
    margin-left: 50px;
}

article {
    width: 600px;
    padding: 30px 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    width: 50%;
}

footer {
  padding: .5em 1em;
  text-align: center;
  clear: both;
}

/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue

   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */


nav {
  float: right;
}

nav ul {
  list-style: none;
  margin-top: 0;
}

nav li {
  float: right;
  margin: 55px 100px 25px 5px;
}

a { color: #379CB2; }
a:hover { color: #82E8FF; }
